$header-height: 100px;
$navbar-width: 100px;
$bg-light: #353E49;
$bg-dark: #353E49;

html, body{
    margin: 0;
    padding: 0;
    overflow: scroll;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    scroll-behavior: smooth;    
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: $header-height 0 auto $navbar-width;
    width: 100%;
}