$header-height: 100px;
$navbar-width: 100px;
$bg-dark: #353E49;
$accent-colour: #CE7604;

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    scroll-behavior: smooth;    
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll !important;
    margin: $header-height 0 auto $navbar-width;
}