.project_tiles{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.project_tile{
    position: relative;
    overflow: hidden;
    transition: opacity .2s ease;
    height: 200px;
    min-width: 200px;

    &--small{
        flex-grow: 1;
    }

    &--large{
        flex-grow: 2;
    }

    & > a {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: black;
    }

    & > a > img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &:hover{
        opacity: 0.3;
    }

    &-title{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
    }
}