.page-section{
	position: relative;
    display: flex;
	top: 5px;
	height: 95vh;
	min-height: max-content;
	margin: auto;

	@media (max-width: 768px){
		width: 100%;
	}

	@media (min-width: 768.02px){
		width: 80%;
	}

	@media (min-width: 768.02px) and (max-width: 900px){
		max-width: 800px;
	}

	@media (min-width: 900.02px) and (max-width: 1440px){
		max-width: 1350px;
	}

	@media (min-width: 1440.02px){
		max-width: 2000px;
	}

    & .title{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
    }

	& img{
		border-radius: var(--bs-border-radius-lg) !important;
	}

	& p {
		@media (max-width: 320px) and (max-width: 768px) {
			font-size: 1em;
		}

		@media (min-width: 768.02px) and (max-width: 1024px) {
			font-size: 1.25em;
		}

		@media (min-width: 1024.02px) and (max-width: 1440px) {
			font-size: 1.5em;
		}

		@media (min-width: 1440.02px){
			font-size: 1.75em;
		}
	}
}