<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>TWDay</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/assets/academicons-1.8.0/css/academicons.min.css">
        <link rel="icon" type="image/png" href="/assets/images/Website-Icon.png" />
        <link rel="stylesheet" href="/assets/css/style.css">
        {% feed_meta %}
        {% seo %}
    </head>
    <body>
        {% include header.html %}
        <main>
            {{ content }}
        </main>
    </body>

    <script src="/assets/js/main.js"></script>
    <script src="https://use.fontawesome.com/cd4903d595.js"></script>
</html>